

		<h2 style="text-align:center;"><u>Hey APIIT PEOPLE !!!!</u></h2>
		<h3 style="text-align:center;"><i>Welcome to MMU Chat BOX </i></h3><br>
		<form id='login' action='test.html' method='post' accept-charset='UTF-8'>
			<fieldset  class="fieldset-auto-width">
				<legend>Login</legend>
				<br>
				<input type='hidden' name='submitted' id='submitted'  value='1'/>
				<label for='username' >UserName : </label>
				<input type='text' name='username' id='username' autofocus required maxlength="20" /><br>
				<label for='password' >Password : </label>
				<input type='password' name='password' id='password' autofocus required maxlength="20" /><br>
				
				<a href="#openModal">Forget Password</a>
				<div id="openModal" class="modalDialog">
				
<div>
		<a href="#close" title="Close" class="close">X</a>
		<h2>Forget Password</h2>
		<p>Please sent a email to our admin. We will require a PASSWORD RESET KEY to you. </p>
		<p> Email : <a href="mailto:contact@gmail.com">mmu.chatbox.@host.com</a></p>
	</div>
</div>
				<br>
				<input type='submit' name='Submit' value='Login' />

			</fieldset>
		</form>
		

	
</div>